@font-face {
    font-family: 'IRANSansWeb';
    src: url('/fonts/IRANSansWeb.eot');
    src: url('/fonts/IRANSansWeb.eot') format('embedded-opentype'), url('/fonts/IRANSansWeb.woff') format('woff'), url('/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'IRANSansWeb' !important;
    font-weight: 400;
}

.mainPic {
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)),url("/publicimage/mainbackgroundpic.png");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.btn-outline-primari {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    color: black !important;
    background-color: #d0f7c9;
}

.customBlue1 {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    color: black !important;
    background-color: #9ce5f2;
}

.customYellow1 {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    color: black !important;
    background-color: #e8efa7;
}

.customRed1 {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    color: black !important;
    background-color: #f59f9f;
}

.custominput {
    border: 1px solid #cbcbcb;
    border-radius: 1px;
    height: 35px;
    margin-bottom: 15px;
}


.btn-primary, .btn-primary.disabled {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #00AA59;
    border-color: #00AA59;
}

    .btn-primary:focus, .btn-primary.disabled:focus {
        background-color: #00944e !important;
    }

        .btn-primary:focus:active, .btn-primary.disabled:focus:active {
            background-color: #00944e !important;
        }

    .btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
        background-color: #00944e !important;
    }

.btn-outline-primary, .btn-outline-primary.disabled {
    border-color: #00AA59;
    color: #00AA59;
}

    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.disabled:hover, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled:active {
        background-color: #00AA59 !important;
        color: #fff;
    }


.btn-info, .btn-info.disabled {
    box-shadow: 0 2px 6px #82d3f8;
    background-color: #3abaf4;
    border-color: #3abaf4;
    color: #fff;
}

.btn-outline-info, .btn-outline-info.disabled {
    border-color: #0da8ee;
    color: #0da8ee;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active {
    background-color: #0da8ee !important;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.disabled:hover, .btn-outline-info.disabled:focus, .btn-outline-info.disabled:active {
    background-color: #0da8ee !important;
    color: #fff !important;
}

.btn-warning, .btn-warning.disabled {
    box-shadow: 0 2px 6px #ffc473;
    background-color: #ffa426;
    border-color: #ffa426;
    color: #fff;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active {
        background-color: #ff990d !important;
        color: #fff !important;
    }

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.disabled:hover, .btn-outline-warning.disabled:focus, .btn-outline-warning.disabled:active {
    background-color: #ffa426 !important;
    color: #fff !important;
}

.btn-outline-warning, .btn-outline-warning.disabled {
    border-color: #ffa426;
    color: #ffa426;
}

.btn-danger, .btn-danger.disabled {
    box-shadow: 0 2px 6px #fd9b96;
    background-color: #fc544b;
    border-color: #fc544b;
    color: #fff;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active {
        background-color: #fb160a !important;
    }

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.disabled:hover, .btn-outline-danger.disabled:focus, .btn-outline-danger.disabled:active {
    background-color: #fb160a !important;
    color: #fff !important;
}

.btn-outline-danger, .btn-outline-danger.disabled {
    border-color: #fb160a;
    color: #fb160a;
}

.table-striped-4n > tbody > tr:nth-child(4n+1):not(.table-striped-child),
.table-striped-4n > tbody > tr:nth-child(4n+2):not(.table-striped-child) {
    background-color: rgba(0, 0, 0, 0.02);
}

.table-striped-4n:not(.table-sm) thead th {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .collapse {
        position: relative;
    }

        .collapse .navbar-nav {
            position: absolute;
        }
}

.height-0 {
    height: 0 !important;
}

.table.p-0:not(.table-sm):not(.table-md):not(.dataTable) td,
.table.p-0:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0 5px;
}

    .table.p-0:not(.table-sm):not(.table-md):not(.dataTable) td:first-child,
    .table.p-0:not(.table-sm):not(.table-md):not(.dataTable) th:first-child {
        padding-right: 25px;
    }

    .table.p-0:not(.table-sm):not(.table-md):not(.dataTable) td:last-child,
    .table.p-0:not(.table-sm):not(.table-md):not(.dataTable) th:last-child {
        padding-left: 25px;
    }

.table-striped-child-hover tbody tr .packItemrow > tbody > tr:hover {
    background-color: red !important;
}

.table-striped-child-hover {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

    .table-striped-child-hover > tbody > tr:hover {
        background-color: #FFF6EA !important;
    }

    .table-striped-child-hover tbody tr {
        background-color: azure !important
    }

.table.table-striped .table-striped-child-hover > thead > tr > th {
    background-color: lightcyan !important
}
.table-striped-child-hover > thead > tr {
    height: 40px;
}
