
@{
    ViewData["Title"] = "قطع سیستم";
}

<div class="alert"
     style="border:1px solid #cbcbcb; background-color:#dbcccc; text-align:center;">
    <span style="font-size:25px;">
        سیستم موقتا قادر به پاسخگویی نمی باشد!!!
    </span>
    <br />
    <br />
    <br />
    <span style="font-size:21px;">قطع سیستم</span>
</div>