@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContext
@inject WebAutomationSystem.DataModelLayer.Services.IUnitOfWork _context
@inject UserManager<ApplicationUsers> _userManager

@{
    var getNewLetter = _context.sentLettersUW.Get
        (sl => sl.ReadType == false && sl.userId_reciever == _userManager.GetUserId(_httpContext.HttpContext.User));
}


<div class="sidebar sidebar-main" style="background-color:#d9dbdc;">
    <div class="sidebar-content">

        <!-- START - User menu -->
        @await Component.InvokeAsync("UserInfoWithJob", Model)

        <!-- END - User menu -->
        <!-- START - Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">

                <!-- START - Item Navigation -->
                <ul class="navigation navigation-main" style="color:black;">

                    <!-- START - Item Navigation Header -->
                    <li class="navigation-header">
                        <span> داشبورد اختصاصی کاربران</span> <i class="icon-menu"
                                                                 title="صفحه اصلی"></i>
                    </li>
                    <li class="active">
                        <a asp-controller="UserHome" asp-action="Index">
                            <i class="icon-home4"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>
                    <li>
                    </li>
                    <!-- END - Item Navigation Header -->
                    <!-- START - مطالب و محتوا -->
                    <li>
                        <a href="#">
                            <i class="icon-bookmark"></i>
                            <span>کارتابل</span>
                            @if (getNewLetter.Count() > 0)
                            {
                                <span style="color:red;">&#10042;</span>
                            }

                        </a>

                        <ul>

                            <li>
                                <a asp-controller="LetterList" asp-action="Index">
                                    <i class="icon-book2"></i>
                                    <span style="float:right;">لیست نامه ها</span>
                                    @if (getNewLetter.Count() > 0)
                                    {
                                        <span style="float:left; font-size:11px; width:38px; height:18px; text-align:center; color:white; background-color:red; border-radius:90px;">جدید!</span>
                                    }
                                </a>
                            </li>



                            <li>
                                <a asp-controller="RecievedNotation" asp-action="Index"><i class="icon-notebook"></i> <span>یادداشت های رسیده</span></a>
                            </li>
                            <li>
                                <a asp-controller="RecievedReferLetter" asp-action="Index"><i class="icon-book3"></i> <span>نامه های ارجاعی دریافتی</span></a>
                            </li>
                            <li>
                                <a asp-controller="LeaveManagement" asp-action="Index"><i class="glyphicon glyphicon-leaf"></i> <span>مدیریت مرخصی کاربران</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-reminder"></i> <span>نمایش یادآوری ها</span></a>
                            </li>
                            <li>
                                <a asp-controller="PrivateEnterDocumentList" asp-action="Index"><i class="icon-file-spreadsheet"></i> <span>لیست اسناد وارده</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>بازیافت</span></a>

                        <ul>
                            <li>
                                <a asp-controller="SentLetter" asp-action="Index"><i class="icon-forward2"></i><span>نامه های ارسالی</span></a>
                            </li>

                            <li>
                                <a asp-controller="FollowUpLetter" asp-action="Index"><i class="icon-grab"></i><span>پیگیری نامه</span></a>
                            </li>
                            <li>
                                <a asp-controller="LeaveListRequest" asp-action="Index"><i class="glyphicon glyphicon-leaf"></i><span>لیست مرخصی ها</span></a>
                            </li>
                            <li>
                                <a asp-controller="SentNotation" asp-action="Index"><i class="icon-notebook"></i><span>یادداشت های ارسالی</span></a>
                            </li>
                            <li>
                                <a asp-controller="ReferralLetters" asp-action="Index"><i class="icon-repo-forked"></i><span>نامه های ارجاع داده شده</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- END - مطالب و محتوا -->
                    <!-- START - اسناد، پرونده ها و پروژه ها -->
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>عملیات</span></a>

                        <ul>
                            <li>
                                <a asp-controller="LetterManagement" asp-action="CreateLetter"><i class="icon-printer"></i><span>ایجاد نامه</span></a>
                            </li>

                            <li>
                                <a asp-controller="Notation" asp-action="Index"><i class="icon-notebook"></i><span>ایجاد یادداشت</span></a>
                            </li>

                            <li>
                                <a asp-controller="Reminder" asp-action="Index"><i class="icon-reminder"></i><span>ثبت یادآوری</span></a>
                            </li>
                            <li>
                                <a asp-controller="Draft" asp-action="Index"><i class="icon-bubble7"></i><span>پیش نویس</span></a>
                            </li>
                            <li>
                                <a asp-controller="Leave" asp-action="CreateLeave"><i class="glyphicon glyphicon-leaf"></i><span>درخواست مرخصی</span></a>
                            </li>

                            <li>
                                <a asp-controller="DefaultForm" asp-action="Index"><i class="icon-package"></i><span>لیست فرمهای پیش فرض</span></a>
                            </li>

                            <li>
                                <a asp-controller="LetterManagement" asp-action="CreateLetter"><i class="icon-people"></i><span>ایجاد جلسات</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- END - اسناد، پرونده ها و پروژه ها -->
                    <!-- START - مدیریت مالی -->
                    <li>
                        <a href="#"><i class="icon-paperplane"></i><span>خبرنامه</span></a>

                        <ul>
                            <li>
                                <a asp-controller="RecievedNews" asp-action="Index"><i class="icon-new"></i><span>اخبار و اطلاعیه ها</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - مدیریت مالی -->
                    <!-- START - مدیریت کاربران -->
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>ارزشیابی پرسنل</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-point-up"></i><span>ثبت کارکرد روزانه</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-chart"></i><span>نمایش کارکرد پرسنل</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - مدیریت کاربران -->
                    <!-- START - پیکربندی سیستم -->
                    <li>
                        <a href="#"><i class="icon-shrink5"></i><span>تنظیمات</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-key"></i><span>تغییر رمز عبور</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-user"></i><span>پروفایل</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - پیکربندی سیستم -->
                    <!--START---گزارشات-->
                    <li>
                        <a href="#" class="has-ul"><i class="icon-book3"></i><span>گزارشات</span></a>
                        <ul class="hidden-ul">
                            <!--گزارشات مرخصی-->
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-leaf"></i><span>گزارشات مرخصی</span></a>
                                <ul class="hidden-ul">
                                    <li>
                                        <a asp-area="UserArea" asp-controller="LeaveReport" asp-action="Index"><i class="icon-book"></i><span>گزارش مرخصی شخصی</span></a>
                                        <a href="#"><i class="icon-book2"></i><span>گزارش مرخصی کلی</span></a>
                                    </li>
                                </ul>
                            </li>

                            <!--گزارشات کارکرد-->
                            <li>
                                <a href="#"><i class="icon-download"></i><span>گزارشات کارکرد</span></a>
                                <ul class="hidden-ul">
                                </ul>
                            </li>
                            <!--گزارشات مالی-->
                            <li>
                                <a href="#"><i class="icon-cash"></i><span>گزارشات مالی</span></a>
                                <ul class="hidden-ul">
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--End-گزارشات-->
                    <!-- START - دبیرخانه -->
                    <li>
                        <a href="#"><i class="icon-office"></i><span>دبیرخانه</span></a>

                        <ul>
                            <li>
                                <a asp-controller="LetterList" asp-action="IndexSecretariat"><i class="icon-enter5"></i><span>لیست نامه های دبیرخانه  </span></a>
                            </li>
                            <li>
                                <a asp-controller="EnterDocument" asp-action="RegisterEnterDocument"><i class="icon-enter5"></i><span>ثبت اسناد ورودی</span></a>
                            </li>
                            <li>
                                <a asp-controller="EnterDocumentList" asp-action="Index"><i class="icon-list-numbered"></i><span>لیست اسناد ثبت شده</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - دبیرخانه -->
                </ul>
                <!-- END - Item Navigation -->

            </div>
        </div>
        <!-- END - Main navigation -->

    </div>
</div>