<div class="sidebar sidebar-main" style="background-color:#d4d1d1;">
    <div class="sidebar-content">

        <!-- START - User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left">
                    </a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">پروین ترکمان  </span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;پنل کاربران ( مسئول مالی )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END - User menu -->
        <!-- START - Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">

                <!-- START - Item Navigation -->
                <ul class="navigation navigation-main" style="color:black;">

                    <!-- START - Item Navigation Header -->
                    <li class="navigation-header">
                        <span> داشبورد اختصاصی کاربران</span> <i class="icon-menu"
                                                                 title="صفحه اصلی"></i>
                    </li>
                    <li class="active">
                        <a href="index.html">
                            <i class="icon-home4"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>
                    <li>
                    </li>
                    <!-- END - Item Navigation Header -->
                    <!-- START - مطالب و محتوا -->
                    <li>
                        <a href="#"><i class="icon-bookmark"></i><span>کارتابل</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-book2"></i> <span>همه نامه های وارده</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="icon-book"></i> <span>نامه های خوانده شده</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="icon-envelop"></i> <span>نامه های خوانده نشده</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-forrst"></i> <span>نامه های اقدام فوری</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-forrst2"></i> <span>نامه های محرمانه</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-notebook"></i> <span>یادداشت های رسیده</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-book3"></i> <span>نامه های ارجاع داده شده</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-reminder"></i> <span>نمایش یادآوری ها</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>بازیافت</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-forward2"></i><span>نامه های ارسالی</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-grab"></i><span>پیگیری</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-notebook"></i><span>یادداشت های ارسالی</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-repo-forked"></i><span>نامه های ارجاع داده شده</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- END - مطالب و محتوا -->
                    <!-- START - اسناد، پرونده ها و پروژه ها -->
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>عملیات</span></a>

                        <ul>
                            <li>
                                <a asp-controller="LetterManagement" asp-action="CreateLetter"><i class="icon-printer"></i><span>ایجاد نامه</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-notebook"></i><span>ایجاد یادداشت</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-reminder"></i><span>ثبت یادآوری</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-bubble7"></i><span>پیش نویس</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-codepen"></i><span>ثبت اسناد خارجه</span></a>
                            </li>
                            <li>
                                <a asp-controller="DefaultForm" asp-action="Index"><i class="icon-package"></i><span>لیست فرمهای پیش فرض</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- END - اسناد، پرونده ها و پروژه ها -->
                    <!-- START - مدیریت مالی -->
                    <li>
                        <a href="#"><i class="icon-paperplane"></i><span>خبرنامه</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-new"></i><span>اخبار و اطلاعیه ها</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - مدیریت مالی -->
                    <!-- START - مدیریت کاربران -->
                    <li>
                        <a href="#"><i class="icon-forward"></i><span>ارزشیابی پرسنل</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-point-up"></i><span>ثبت کارکرد روزانه</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-chart"></i><span>نمایش کارکرد پرسنل</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - مدیریت کاربران -->
                    <!-- START - پیکربندی سیستم -->
                    <li>
                        <a href="#"><i class="icon-shrink5"></i><span>تنظیمات</span></a>

                        <ul>
                            <li>
                                <a href="#"><i class="icon-key"></i><span>تغییر رمز عبور</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="icon-user"></i><span>پروفایل</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END - پیکربندی سیستم -->

                </ul>
                <!-- END - Item Navigation -->

            </div>
        </div>
        <!-- END - Main navigation -->

    </div>
</div>