
@{
    Layout = null;
}

<form>
    <div class="modal-header" style="background-color:gray; color:white; border-radius:5px 5px 0 0;">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">@ViewBag.NewsTitle - تاریخ اطلاعیه : @ViewBag.NewsDate</h5>
    </div>

    <div class="modal-body form-horizontal">
        @ViewBag.NewsContent
    </div>

    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" style="width:80px; border-radius:2px;" data-dismiss="modal">بازگشت</button>
    </div>

</form>