
@{
    Layout = null;
}

<form>
    <div class="modal-header" style="background-color:darkred; color:white; border-radius:5px 5px 0 0;">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">قطع سیستم</h4>
    </div>


        <div class="modal-body form-horizontal">
            سیستم موقتا قادر به پاسخگویی نمی باشد.
        </div>



    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" style="width:80px; border-radius:px;" data-dismiss="modal">بازگشت</button>

    </div>

</form>