
@{
    ViewData["Title"] = "صفحه مورد نظر شما یافت نشد !";
}

<div class="alert" 
        style="border:1px solid gray; background-color:#dbcccc; text-align:center;">
    <span style="font-size:25px;">
        صفحه مورد نظر شما یافت نشد !!!
    </span>
    <br />
    <br />
    <br />
    <span style="font-size:21px;">خطای 404</span>
</div>