@model WebAutomationSystem.DataModelLayer.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "اتوماسیون تحت وب ژوبین";
}

<div class="panel panel-body col-md-4 col-xs-12" style="margin:0 auto; text-align:center; background-color:whitesmoke;
    border-radius:5px; box-shadow:6px 6px 3px 0 gray;">
    
</div>