@model WebAutomationSystem.DataModelLayer.Entities.Leave

@{
    Layout = null;
}

<form asp-controller="LeaveListRequest" asp-action="DeleteLeavePost" method="post">
    <div class="modal-header" style="background-color:darkred; color:white; border-radius:5px 5px 0 0;">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">درخواست حذف مرخصی</h4>
    </div>

        <div class="modal-body form-horizontal">
            آیا از حذف درخواست مرخصی مطمئن هستید؟
        </div>


    <input type="hidden" asp-for="LeaveID" />


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" style="width:80px; border-radius:2px;" data-dismiss="modal">بازگشت</button>
        <button type="submit" class="btn" style="width:80px; border-radius:2px; color:white; background-color:darkred;">
            حذف
        </button>
    </div>

</form>