@{
    ViewData["Title"] = "عدم مجوز ورود !";
}

<div class="alert"
     style="border:1px solid #cbcbcb; background-color:#dbcccc; text-align:center;">
    <span style="font-size:25px;">
        مجوز ورود به این بخش به شما داده نشده است !!!
    </span>
    <br />
    <br />
    <br />
    <span style="font-size:21px;">خطای دسترسی</span>
</div>
